// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$header-color: #ae9090;
$Raleway: 'Raleway', sans-serif;
$background-color: #ffffff;
// ----------------------------------------------------
$font-stack: 'Raleway', sans-serif;
$text-shadow: 2px 2px  #4675d2;
$primary-color: #98b2e6;
$secondary-color: #4675d2;
$bg-color: #eaf0fa;
$center-align: center;
$white-color: #FFF;