<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Explore Page</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
<header>
    <nav class="nav">
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="profile.html">profile</a></li>
            <li><a class="active" href="explore.html">explore</a></li>
        </ul>
    </nav>
</header>

<div id="page">
    <div id="container">
        <div id="row1">
            <span class="img">
                <img class="images one" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images two" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images three" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images four" src="img/gray.jpg" alt="">
            </span>
        </div>

        <div id="row2">
            <span class="img">
                <img class="images five" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images six" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images seven" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images eight" src="img/gray.jpg" alt="">
            </span>
        </div>

        <div id="row3">
            <span class="img">
                <img class="images nine" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images ten" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images eleven" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images twelve" src="img/gray.jpg" alt="">
            </span>
        </div>

        <div id="row4">
            <span class="img">
                <img class="images thirteen" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images fourteen" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images fifteen" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images sixteen" src="img/gray.jpg" alt="">
            </span>
        </div>

        <div id="row5">
            <span class="img">
                <img class="images seventeen" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images eighteen" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images nineteen" src="img/gray.jpg" alt="">
            </span>
            <span class="img">
                <img class="images twenty" src="img/gray.jpg" alt="">
            </span>
        </div>
    </div>
</div>

</body>
</html>


