<!DOCTYPE html>
<html lang="en" id="indexhtml">

<head>
    <meta charset="UTF-8">
    <title>Explore Page</title>
    <script src="https://kit.fontawesome.com/134ff1f3d5.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
<!--<header>-->
<!--    <nav class="nav">-->
<!--        <ul>-->
<!--            <li><a class="active" href="index.html">home</a></li>-->
<!--            <li><a href="profile.html">profile</a></li>-->
<!--            <li><a href="explore.html">explore</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</header>-->

    <div class="welcome">
        <h2>Creative <i class="fas fa-palette"></i> Critiques</h2>
        <button class="welcome" onclick="window.location.href='signup.html'">ENTER</button>
<!--        <a href="index.html"><input type="button" name="welcome" class="welcome" value=" ENTER" /></a><br><br>-->
    </div>

</body>
</html>


