<!DOCTYPE html>
<html lang="en" id="loginhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/134ff1f3d5.js" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="styles/main.css" rel="stylesheet">
</head>


<body>
<header>
    <nav class="nav">
        <ul>
            <li><a id ="explorelink" class="active" href="explore.html">explore</a></li>
        </ul>
    </nav>
    <h1>Creative <i class="fas fa-palette"></i> Critiques</h1>
</header>
    <div class="sign-up-box">
        <h2>LOGIN TO YOUR ACCOUNT</h2>
        <form>
            <input type="text" name="field4" placeholder="Username"/>
            <input type="text" name="field5" placeholder="Password"/>
<!--            <a href="profile.html">-->
<!--                <input type="button" name="login" class="login" value=" LOGIN" />-->
<!--            </a>-->
<!--            <button class="login" onclick="window.location.href='profile.html'">Login</button>-->
            <button class="loginbutton"><a href="profile.html">Login</a></button>

        </form>
    </div>
</body>
</html>

